# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.idea/
.htaccess
sites/all/themes/dalibert/.sass-cache
sites/all/themes/dalibert/css/