@import "base";

#block-block-1 {
  width: 248%;
  padding: 20px 40px 40px 30px;
  background:$red;
  transform: rotate(-10deg);
  margin-top:50px;
  margin-left:-12%;
  height:55px;
  position:relative;
  display:block;
  -moz-box-shadow: 0px 0px 5px 0px $black-transparent;
  -webkit-box-shadow: 0px 0px 5px 0px $black-transparent;
  -o-box-shadow: 0px 0px 5px 0px $black-transparent;
  box-shadow: 0px 0px 5px 0px $black-transparent;
  .content-reserver {
    transform: rotate(10deg);
    margin-top: 8%;
    a {
      display: block;
      span.bold{
        @include h1-normal;
      }
      span.normal {
        @include h1-thin;
        display: block;
      }
      &:hover span{
        text-decoration: underline;
      }
    }
  }
}