@import "base";

.reserver {
  @include block-right($red);
  .reserver-content {
     display: block;
     span.bold{
       @include h1-normal;
     }
     span.normal {
       @include h1-thin;
       display: block;
     }
   }
  &:hover {
    background: $grey-transparent;
  }
}

.vins{
  @include block-right($grey-transparent);
  margin-top: 18px;
  .inverse {
    margin-top: 22px;
  }
  .vin-content {
    display: block;
    span.bold{
      @include h2-normal;
    }
    span.normal {
      @include h2-thin;
      display: block;
    }
    &:hover .vins{
      background: red;
    }
  }
  &:hover {
    background: $red;
  }
}

.lieux {
  @include block-right($grey-transparent);
  margin-top: -15px;
  .inverse {
    margin-top: 22px;
  }
  .lieux-content {
    display: block;
    span.bold{
      @include h2-normal;
    }
    span.normal {
      @include h2-thin;
      display: block;
    }
  }
  &:hover {
    background: $red;
  }
}

.gastro {
  @include block-right($grey-transparent);
  margin-top: -15px;
  .inverse {
    margin-top: 22px;
  }
  span.bold{
    @include h2-normal;
  }
  span.normal {
    @include h2-thin;
    display: block;
  }
  &:hover {
    background: $red;
  }
}

.decouvrez {
  @include block-right(none);
  margin-top: 0;
  display: block;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  .inverse {
    margin-top: 6px;
    width: 150px;
    text-align: center;
  }
  span.bold{
    @include h1-normal;
  }
}