@import "base";

.reserver {
  @include block-right($red);
    a {
      display: block;
      span.bold{
        @include h1-normal;
      }
      span.normal {
        @include h1-thin;
        display: block;
      }
      &:hover span{
        text-decoration: underline;
      }
    }
}

.vins{
  @include block-right($grey-transparent);
  margin-top: 18px;
  a {
    display: block;
    span.bold{
      @include h2-normal;
    }
    span.normal {
      @include h2-thin;
      display: block;
    }
    &:hover span{
      text-decoration: underline;
    }
  }
}

.lieux {
  @include block-right($grey-transparent);
  margin-top: -15px;
  a {
    display: block;
    span.bold{
      @include h2-normal;
    }
    span.normal {
      @include h2-thin;
      display: block;
    }
    &:hover span{
      text-decoration: underline;
    }
  }
}

.gastro {
  @include block-right($grey-transparent);
  margin-top: -15px;
    display: block;
    span.bold{
      @include h2-normal;
    }
    span.normal {
      @include h2-thin;
      display: block;
    }
    &:hover span{
           text-decoration: underline;
         }
}

.decouvrez {
  @include block-right(none);
  height: 15px;
  margin-top: 0;
  .inverse {
    margin-top: 3%;
    width: 37%;
    text-align: center;
  }
  span.bold{
    @include h1-normal;
  }
}