@import "base";

body {
  position: fixed;
}

p, h1, h2, h3, span, a, label {
  @include font-light;
  text-decoration: none;
}

#main {
  padding: 0;
}

p, label, a, span {
  font-size: em(14px);
  color: $white;
}

h1 {
  font-size: em(26px);
  color: $white;
}
h2 {
  font-size: em(20px);
  color: $white;
}
h3 {
  font-size: em(16px);
  color: $white;
}

input, select {
  font-size: em(14px);
  background: $lightgrey;
  border: none;
}