@import "base";

body {
  position: fixed;
  background: url("../images/test.jpg") no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

p, h1, h2, h3, span, a, label, input, select {
  @include font-light;
  text-decoration: none;
}

#main {
  padding: 0;
  margin: 0;
}
#content {
  padding: 0;
}

p, label, a, span {
  font-size: em(13px);
  color: $white;
  line-height: em(20px);
}

h1 {
  font-size: em(26px);
  color: $white;
}
h2 {
  font-size: em(20px);
  color: $white;
}
h3 {
  font-size: em(16px);
  color: $white;
}

input, select {
  font-size: em(13px);
  background: $lightgrey;
  border: none;
  border: none;
  padding-left: 6px;
  height: 24px;
  line-height: 20px;
}

select {
  background: url('../images/select.png') no-repeat right center $lightgrey;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 24px;
  line-height: 20px;
  padding-left: 6px;
}