@import "base";


.block-footer-menu {
  width: 1062px;
  padding: 20px 40px 40px 30px;
  background: $grey-transparent;
  transform: rotate(-15deg);
  margin-top: -144px;
  margin-left: -291px;
  height: 171px;
  position:absolute;
  display:block;
  .content-footer {
    transform: rotate(15deg);
    margin-top: 0;
    margin-left: 59px;
    width: 535px;
    height: 100%;
    p {
      float: right;
      display: inline-block;
      font-size: em(12px);
      margin: 0;
      &.menu-footer {
        clear: both;
      }
    }
  }
}