@import "base";


#logo {
  width: 100%;
  height: auto;
}

#main-menu {
  padding: 30px 0 0 0;
  ul.links {
    padding-left: 15%;
    float: left;
    width: 85%;
    position: absolute;
    left: 0;
    li {
      float: none;
      border-bottom: solid 1px $darkgrey;
      padding: 5px 0;
      &:last-of-type {
        border: none;
      }
      a {
        color: $white;
        text-transform: uppercase;
        &.active {
          @include font-normal;
        }
      }
    }
  }
}