@import "base";


#block-block-2 {
  width: 248%;
  padding: 20px 40px 40px 30px;
  background: $grey-transparent;
  transform: rotate(-15deg);
  margin-top: -36%;
  margin-left: -73%;
  height: 171px;
  position:absolute;
  display:block;
  .content-footer {
    transform: rotate(15deg);
    margin-top: 0;
    margin-left: 6%;
    width: 54%;
    height: 100%;
    p {
      float: right;
      display: inline-block;
      font-size: em(12px);
      margin: 0;
      &.menu-footer {
        clear: both;
      }
    }
  }
}