@import "base";


.page-eform-submit-reservation {
  #content {
    width:40%;
    overflow:hidden;
    height:100%;
    background: $black-transparent;
    position: fixed;
    padding-left: 10px;
    #page-title {
      float: right;
      margin-top: 15%;
      margin-right: 5%;
      z-index: 5;
      position: relative;
    }
    #reservation-entityform-edit-form {
      width: 200%;
      padding-left: 20%;
      padding-top: 30px;
      background:$red;
      transform: rotate(-10deg);
      margin-left:-16%;
      height:72%;
      position:relative;
      display:block;
      margin-top: 9%;
      > div {
        transform: rotate(10deg);
        width: 46%;
        overflow-y: scroll;
        height: 83%;
        overflow-x: hidden;
        margin-top: 3%;
        margin-left: -1%;
      }
      #edit-field-resa-nom {
        float: left;
      }
      #edit-field-resa-prenom {
        float: left;
        margin-left: 10px;
      }
      #edit-field-resa-chambre {
        clear: both;
        .tabledrag-toggle-weight {
          display: none;
        }
        table {
          width: 100%;
          border-top: solid 1px $black-transparent;
          border-bottom: solid 1px $black-transparent;
          background: $black-transparent;
          padding: 5px;
          thead {
            tr {
              th {
                border: none;
                padding: 10px;
                label {
                  @include h1-thin
                }
              }
            }
          }
          tbody {
            border: none;
            width: auto;
            tr {
              background: none;
              border-top: 1px solid $darkgrey;
              border-bottom: none;
              td {
                padding: 10px;
                &.field-multiple-drag {
                display: none;
                }
                > input {
                  background: url("../images/cross.png") no-repeat left center;
                  height: 20px;
                  padding-left: 20px;
                  clear: none;
                  float: right;
                  color:$white;
                  line-height: 20px;
                }
                .ajax-processed {
                  background: url("../images/cross.png") no-repeat left center;
                  height: 20px;
                  padding-left: 20px;
                  clear: none;
                  float: right;
                  color:$white;
                  line-height: 20px;
                }
                .field-name-field-resa-fc-chambre {
                  float: left;
                  padding-top: 21px;
                  padding-bottom: 10px;
                }
                .field-name-field-resa-fc-nbre-pers {
                  float: left;
                  margin-left: 10px;
                  width: 100px;
                  padding-bottom: 10px;
                  padding-top: 13px;
                  label {
                    line-height: em(18px);
                    margin-bottom: 2px;
                  }
                  select {
                    width: 55px;
                  }
                }
                .field-name-field-resa-fc-date {
                  float: left;
                  fieldset {
                    border: none;
                    padding: 0;
                    margin: 0;
                    legend > .fieldset-legend {
                      @include h2-thin;
                    }
                    .start-date-wrapper {
                      clear: none;
                      float: left;
                      width: auto;
                      .date-padding {
                        padding: 0;
                      }
                    }
                    .end-date-wrapper {
                      clear: none;
                      float: left;
                      width: auto;
                      margin-left: 10px;
                      .date-padding {
                        padding: 0;
                      }
                      div.form-type-date-popup > label {
                        display: none;
                      }
                    }
                    .description {
                      display: none;
                    }
                    input {
                      width: 110px;
                      background: url('../images/calendar.png') no-repeat center right $lightgrey;
                      padding-left: 6px;
                      height: 24px;
                      line-height: 20px;
                    }
                  }
                }
              }
            }
          }
        }
        #edit-field-resa-chambre-und-add-more,
        .field-add-more-submit{
          background: $black-transparent;
          color: $white;
          border: none;
          padding: 5px 10px;
          height: auto;
        }
      }
      #edit-field-resa-adresse {
        fieldset {
          border: none;
          padding: 0;
          margin: 0;
        }
        legend {
          @include h1-thin;
        }
        .form-item {
          margin: 0 0.5em 0 0;
        }
      }
      #edit-field-resa-phone {
        float: left;
        margin-right: 10px;
      }
      #edit-field-resa-remarques {
        clear: both;
      }
      #edit-actions {
        height: 50px;
      }
      input#edit-submit {
        background: $black-transparent;
        padding: 5px 10px;
        float: left;
        color: $white;
        height: auto;
      }
    }
  }
}
.jspPane {
  width: 96% !important;
  height: auto;
}