// Links
//
// Styleguide 3.0
//
// markup:
// <a href="#">Sample Link</a>

a {
  color: $blue;
  transition: .5s;
  text-decoration: none;
  @include transition(all, 0.3s, ease);
  &:hover {
    color: darken($blue, 20);
    @include transition(all, 0.3s, ease);
  }
  &:visited {
    text-decoration: none;
    outline: 0;
  }
}