/**
*
* Header
*
**/

.header-main {
  position: relative;
  height: 120px;
  background: $white;
  border-bottom: solid 1px $blue;
  @include breakpoint(md) {
    top: 0;
    width: 100%;
    line-height: 120px;
    vertical-align: middle;
  }
  .region-content-top {
    @include center;
    #block-dalibert-branding {
      width: 200px;
      height: 120px;
      float: left;
    }
    #block-dalibert-navigationprincipale {

    }
  }
}

.header-scroll {
  position: fixed;
  display: none;
  height: 120px;
  background: $grey-dalibert;
  border-bottom: solid 1px $blue;
  @include breakpoint(md) {
    display: block;
    margin: 3px 0 0 0;
    top: -125px;
    z-index: 100;
    width: 100%;
    line-height: 120px;
    vertical-align: middle;
  }
  .region-content-top {
    @include center;
    #block-dalibert-branding {
      width: 200px;
      height: 120px;
      float: left;
    }
  }
  .menu {
    display: none;
    @include breakpoint(md) {
      display: block;
      margin: 3px 0 0 0;
    }
    li {
      display: inline;
      margin: 0  1.5rem 0 0;
      &:last-child {
        margin: 0;
      }
      a {
        display: inline-block;
        @include font-size(18px);
        text-transform: uppercase;
        color: $white;
        &:hover {
          color: $pink2;
        }
      }
    }
  }
}
.logo {
  display: none;
  @include breakpoint(md) {
    display: block;
    float: left;
    width: 20px;
    height: 26px;
  }
}

.logo-svg {
  fill: $grey-500;
  transition: all .3s;
  &:hover {
    fill: $blue;
  }
}

.header-main .menu {
  display: none;
  @include breakpoint(md) {
    display: block;
    margin: 3px 0 0 0;
  }
}

.header-main .menu li {
  display: inline;
  margin: 0  1.5rem 0 0;
  &:last-child {
    margin: 0;
  }
  a {
    display: inline-block;
    @include font-size(18px);
    text-transform: uppercase;
    color: $grey-dalibert;
    &:hover {
      color: $blue;
    }
  }
}